* {
    font-family: serif;
}

body {
  
    background: radial-gradient(circle at center, rgb(248, 248, 181), #defde0, #c2e8fa);
    display: flex;
    justify-content: center;
}

.form {
    
    margin-top: 40px;
    border: 5px solid rgba(255, 255, 255, 0);
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oculto {
    display: none;
  }

  .mostrar {
    display: block;
  }







